.order-table {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .order-table th,
  .order-table td {
    text-align: center;
    vertical-align: middle !important;
  }
  
  .product-image {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
  }
  
  .dropdown-toggle::after {
    display: none; /* Hide default dropdown arrow */
  }
  